<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>{{response.app.page.title}}</title>
    <link rel="icon" type="image/png" href="//interactive.nydailynews.com/favicons.png">
    <!-- DEFAULT -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- TITLES -->
    <meta property="og:title" content='{{response.app.page.title}}' />
    <meta name="twitter:title" content='{{response.app.page.title}}' />

    <!-- DESCRIPTION -->
    <meta name="description" content="{{response.app.page.description}}" />
    <meta property="og:description" content="{{response.app.page.description}}" />
    <meta name="twitter:description" content="{{response.app.page.description}}" />

    <!-- KEYWORD -->
    <meta name="keywords" content="{{response.app.page.keywords}}" />
    <meta name="news_keywords" content="{{response.app.page.keywords}}" />

    <!-- LINK -->
    <link rel="canonical" href="{{response.app.page.url}}">
    <meta property="og:url" content="{{response.app.page.url}}" />
    <meta name="twitter:url" content="{{response.app.page.url}}" />

    <!-- THUMBNAIL IMAGE-->
    <meta property="og:image" content="{{response.app.url_root}}static/img/{{response.app.page.shareimg}}" />
    <meta name="twitter:image" content="{{response.app.url_root}}static/img/{{response.app.page.shareimg}}" />
    <meta name="twitter:image:alt" content="{{response.app.page.shareimgdesc}}" />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />

    <!-- PARSELY -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "NewsArticle",
            "headline": "",
            "url": "{{response.app.page.url}}",
            "thumbnailUrl": "{{response.app.url_root}}static/img/{{response.app.page.shareimg}}",
            "dateCreated": "{{response.app.page.datestamp}}T07:00:00Z",
            "articleSection": "Interactive",
            "creator": [{{response.app.page.author}}],
            "keywords": ["interactive",{{response.app.page.keywords_array}}]
        }
    </script>

    <!-- NO NEED TO FILL -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:domain" content="http://interactive.nydailynews.com"/>
    <meta name="twitter:site" content="@nydailynews">
    <meta name="decorator" content="responsive" />
    <meta name="nydn_section" content="NY Daily News" />
    <meta name="robots" content="NOARCHIVE" />
    <meta name="msvalidate.01" content="02916AAC0DA8B068EFE01D721E03ED7E" />
    <meta name="p:domain_verify" content="78efe4f5c9935744af497772f68a0ee7" />
    <meta property="fb:app_id" content="107464888913" />
    <meta property="fb:admins" content="1594068001" />
    <meta property="fb:pages" content="268914272540" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="NY Daily News" />
    <meta property="article:publisher" content="https://www.facebook.com/NYDailyNews/" />
    <meta name="searchBinding" content="/search" />
    <meta name="localeCountry" content="US"/>
    <meta name="localeLanguage" content="en" />

    <!-- ADOBE ANALYTICS -->
    <script src="//assets.adobedtm.com/4fc527d6fda921c80e462d11a29deae2e4cf7514/satelliteLib-c91fdc6ac624c6cbcd50250f79786de339793801.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Open%20Sans|Open+Sans+Condensed:300,700|PT+Serif' rel='stylesheet' type='text/css'>
    <script data-main="//www.nydailynews.com/nydn/js/rh.js?r=20170405001" src="//www.nydailynews.com/nydn/js/require.js?r=2016LIST" defer></script>
      
    <link rel="stylesheet" href="//www.nydailynews.com/nydn/c/rh.css">
    <script>
        var nydn = nydn || {
            "section": "NYDailyNews",
            "subsection": "news",
            "template": "article",
            "revision": "201609014009",
            "bidder": { contains: function() {} },
            "targetPath": document.location.pathname
        };
        var nydnDO = [ { 
            'title':'xxx{{response.app.page.title}}xxx', 
            'link':'{{response.app.page.url}}', 
            'p_type':'interactive', 
            'section':'interactive' 
        }];
    </script>
    
    <!-- ADS-START -->
    <script src="//interactive.nydailynews.com/includes/ads/ads.js" onload="nydn_ads('project');"></script>
    <!-- ADS-END -->

    <link rel="stylesheet" href="{{response.app.url_root}}static/css/site.css">
    <style>
{% block style %}{% endblock style %}
    </style>
    
    {% block head %}{% endblock head %}

    <script>var nav_params = {section: 'New York', url: 'http://www.nydailynews.com/new-york'};</script>
    <script src="//interactive.nydailynews.com/library/vendor-nav/vendor-include.js" defer></script>
</head>
<body id="nydailynews" data-section="nydailynews" data-subsection="NY Daily News">

<!-- SITEHEADER-START -->
<header id="templateheader"></header>
<!-- SITEHEADER-END -->

    <main>
        <article>
            <p id="datestamp" class="stamp"><span>{{response.app.sitename}}, last updated {{''|next_update('this')}}</span></p>
            {% include 'inc_nav.html' %}
            <div id="breadcrumbs">
                {% block breadcrumbs %}
                <a href="/">Home</a>
                &rsaquo; <a href="/next-section">Next Section</a>
                {% endblock breadcrumbs %}
            </div>

            <h1>{{response.app.page.title}}</h1>

            <div class="maincol small-12 large-9 columns">
            {% block content %}{% endblock content %}
            </div>
        </article>
    </main>

<!-- FOOTER-START -->
<footer id="templatefooter"></footer>
<noscript><p id="timestamp" class="stamp">Page generated at {{''|timestamp}}</p></noscript>
<!-- FOOTER-END -->
</body>
</html>
