body {
    margin:0;
    width: 100%;
    overflow: hidden;
} 

@media only screen and (max-width: 768px) {
    /* Adjust the layout */
    body h1, body h2, body h3, body h4, body h5, body h6 { line-height: 1; }
    body h1 { 
        width: 100%!important; 
        font-size: 2em!important;
    }

    /* Fix line-height on breadcrumbs */
    #breadcrumbs {
        line-height: 14px; 
        margin-bottom: 10px;
    }
    /* Fix line-height on nav.app */
    nav.app ul {
        line-height: 0; 
        margin-bottom: 5px;
    }
    /* More line-height fixes */
    .stamp { margin-top: 10px; }

    /* We want bullets on list items on mobile to make lists more readable. */
    .row ul {
        list-style-type: disc;
        list-style-position: inside!important;
    }
}

footer p, #content-footer p { text-align: center; }
hr {
    width: 80%;
    margin: 8px auto;
}
.ad { margin-bottom: 10px; }
.row { margin-left: 0; }
nav.app ul li {
    display: inline;
}
nav.app ul li:after {
    content: " ᴥ ";
}
nav.app ul li:last-child:after {
    content: "";
}
.stamp, nav.app {
    font-family: Georgia, serif;
    font-style: italic;
    color: #aaa;
    text-align: center;
    width: 100%;
    line-height: 0.5;
}
.stamp span, nav.app ul span {
    display: inline-block;
    position: relative;  
}
.stamp span:before,
.stamp span:after,
nav.app ul:before,
nav.app ul:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    top: 0;
    width: 600px;
}
.stamp span:before,
nav.app ul:before {
    right: 100%;
    margin-right: 15px;
}
.stamp span:after,
nav.app ul:after {
    left: 100%;
    margin-left: 15px;
}

#content-footer nav.app ul:before,
#content-footer nav.app ul:after 
{
    border: 0px none;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration: underline;
}
