<!-- put the div with the fb and twitter links in here -->
<div style="text-align: center; margin-bottom: 20px;">
	<a href="https://www.facebook.com/sharer.php?u=http://interactive.nydailynews.com/fiction/coup/"><img src="{{response.app.url_root}}static/img/FB-lg.png" alt="facebook"></a>
	&nbsp;&nbsp;

	<a href="http://twitter.com/share?url=http://nydn.us/coup&text=The%20story%20of%20how%20Mike%20Pence,%20Rick%20Perry%27s%20leotard,%20and%20Ivanka%20save%20America%20from%20Donald%20Trump%20&hashtags=satire,thetrumpcoup"><img src="{{response.app.url_root}}static/img/TW-lg.png" alt="twitter"></a>
</div>