{% extends "base.html" %}
{% block style %}{% endblock style %}
{% block content %}

<div class="intro">
    <h2></h2>
    
    <h1></h1>
    <div>
        <ul class="ra-share" id="ra-share-top" style="text-align: center;">
            <li class="rt-share-f"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">facebook</a> </li>
            <li class="ra-share-t"> <a target="_blank" href="https://twitter.com/intent/tweet?text=">Tweet</a></li>
            <li class="ra-share-e"> <a href="mailto:?subject=&body=">email</a> </li>
        </ul>
    </div>

    <p class="byline">By </p>

    <p id="datestamp" class="stamp">Last updated {{''|last_update()}}</p>

</div>

{% include 'includes/ad02.html' %}

<section>
</section>

    <p class="caption">Interactive by Joe Murphy and Kelli R. Parker</p>

<p class="latest-news">
    The latest in <a href="http://www.nydailynews.com/tags/russia">Daily News Trump-Russia news</a>: 
    <strong id="latest-news-headline"></strong>
</p>
<noscript>
    <p>
        <strong>{{response.latest|safe}}</strong>
    </p>
</noscript>

{% endblock content %}
